input[type="file"] {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0px;
  bottom: 0px;
  width: 100%;
  color: transparent;
  opacity: 0;
  z-index: 1;
}

input[type="file"]:hover {
  cursor: pointer;
}
